.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id" => ""}
        グループ名
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member 
          test_user
      = link_to "#" do
        .main-header__edit-btn
          Edit


  .messages
    .message
      .message__info
        %p.message__info__talker
          test_user
        %p.message__info__date
          2020/03/08(Mon) 11:45:09
      %p.message__text
        Hello
    .message
      .message__info
        %p.message__info__talker
          test_user
        %p.message__info__date
          2020/03/08(Mon) 11:45:09
      %p.message__text
        good bye


  .form
    %form
    %input.form__message
      .form__mask
        %label.form__mask__image
          = icon('fa','image',class: 'icon')
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}
